<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=120.25.216.194,3763;database=XBoxGame;uid=xbox;pwd=xbox666;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="XBoxLiveGoldPriceUrl" value="https://www.microsoft.com/{0}/store/p/xbox-live-gold/cfq7ttc0k5dj/000C"/>
    <add key="XboxFreeGameWithGold" value="http://www.xbox.com/{0}/live/games-with-gold?xr=shellnav"/>
    <add key="XboxDealsGameWithGold" value="http://www.xbox.com/{0}/live/deals-with-gold?xr=shellnav"/>
    <add key="XboxEAAssess" value="http://www.xbox.com/zh-HK/entertainment/xbox-one/live-apps/ea-access"/>
    <add key="XBoxHtmlCachePath" value="C:\Users\litde\Documents\XboxHtml"/>
  </appSettings>
</configuration>
